



.patient-appointment-table{
    margin-top: 30px;
    width: 100%; 
   
    
   
}

.Patient-appointment-inner-table-con{
      height: 40vh;
      overflow:auto;
      width: 100%;
}


.patient-appointment-title{
    margin-top: 20px;
    margin-left: 50px;
   
}
.patient-appointment-table-outer-con{
    display: flex;
    height: 60vh;
    
   
}


.patient-appointment-body-div{
    width: 100%;

}
.patient-appointment-body-inner-div{
   
    max-height: 300px;
    display: flex;
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 60px;
    border-radius: 10px;
    border: 1px solid #368db2;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.164);
    background-color: #FFFFFF;
}

.patient-appointment-table-header{
    font-weight: bold; 
    height: 40px;
    position: sticky;
    color: white;
    background-color: #368db2;
    /* background-color: #368db2; */
    padding: 10px; 
    text-align: center; 
    border: 1px solid whitesmoke;
}


.patient-appointment-table-data{
 
    text-align: left; 
    border: 1px solid whitesmoke;
  
    

   
}

.patient-appointment-table-data tr:nth-child(even){
    background-color: #e7e5f1f6; 
}

.patient-appointment-table-data td{
    white-space: normal; 
    word-wrap: break-word; 
    max-width: 200px; 
}

/* }
::-webkit-scrollbar{
    width: 2px;
    height: 2px;
}
::-webkit-scrollbar-track{
    background: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background: transparent;
    border-radius: inherit;
}

::-webkit-scrollbar-thumb:hover{
    background:#368db2;
} */





