

.patient-record-table{
    margin-top: 10px;
    width: 100%; 
  
}
.patient-record-outter-div{
    display: flex;
}
.patient-record-inner-div{
    width: 100%;
    
}
.patient-record-inner-con{
    margin-left: 80px;
    margin-top: 40px;
    margin-bottom: 60px;
    border-radius: 25px;
    border: 1px solid #368db2;
    width: 85%;
    height: 450px;
    background-color: #FFFFFF;
    
}

.patient-record-table-header{
    font-weight: bold; 
    height: 50px;
    position: sticky;
    background-color: #368db2;
    padding: 10px; 
    text-align: center; 
    border: 1px solid whitesmoke;

}

.patient-record-title{
    margin-top: 15px;
    margin-left: 20px;
    text-align: left;
}

.patient-med-logs{
    margin-top: 10px;
    margin-left: 20px;
}

.patient-record-table-data{
    padding: 10px; 
    text-align: left; 
    border: 1px solid whitesmoke;

}

.patient-record-table-data tr:nth-child(even){
    background-color: #e7e5f1f6;
}

.patient-record-table-data td{
    white-space: normal; 
    word-wrap: break-word; 
    max-width: 200px; 
}

