.greenCircle{
    align-items: center;
    display: grid;
    background-color: #007bff;
    border-radius: 100px;
    width: 30px;
    height: 35px;
}
.whiteCircle{
    align-items: center;
    display: grid;
    background-color: rgb(235, 236, 236);
    border-radius: 100px;
    border: 2px solid #368db2;
    width: 30px;
    height: 35px;
}
.whiteBar{
    border-radius: 10px;
    margin: 2% 0.5% 0 0.5%;
    background-color: rgb(235, 236, 236);
    border: 2px solid #368db2;
    width: 150px;
    height: 4px;
}
.greenBar{
    border-radius: 10px;
    margin: 2% 0.5% 0 0.5%;
    background-color: #368db2;
    border: 2px solid#368db2;
    width: 150px;
    height: 4px;
}
.patient-progress-bar-div{
    display: flex;  
}
.patient-form-sub-frame{
    text-align: center;
    background-color: white;
    width: 55%;
    height: 95vh;
    margin: auto;
    box-shadow: rgba(3, 3, 50, 0.72 ) 0px 3px 10px;
    border-radius: 10px;
    
}
.eReach-logo img{
    width: 100px;
    margin-top: 10px;
    margin-left: 20px;
}

.eReach-logo{
    display: grid;
}
.patient-form{
    display: flex;
    height: 100vh;
    background: #ADD8E6;
  
} 
.patient-progressBar{
    display: flex;
    justify-content: center;
    /* margin-top: 35px; */
    width: 100rem;
}

.patient-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
    width: 30rem;
}
.patient-info input{
    height: 45px;
    border: 1px solid #368db2;
    border-radius: 5px;
    margin-bottom: 10px;
}
.patient-info button{
    background-color: #368db2;
    color: white;
    cursor: pointer;
    width: 100px;
    margin-top: 20px;
    border: 1px solid#368db2;
    font-size: large;
    border-radius: 5px;
}
.patient-info button:hover{
    box-shadow: inset 550px 0 0 0 #368db2;
    color: white;
}
.patient-info-double-btns{
display: flex;
flex-direction: row;
justify-content: space-between;
}

.patient-text-center{
    color: #368db2;
    font-size: 26px;
    font-weight: 400;
    /* line-height: 15px; */
    margin-bottom: 15px;
}
.patient-header-frame-one h2{
    color: #010C80;
    font-size: 19px;
    font-weight: 20;
    /* line-height: 15px; */
    
}
.Registration-Complete-Frame-two{
    width: 50vw;
    height: 90vh;
    display: grid;
    border-style: solid;
    background-color: #FFFFFF;
    box-shadow: rgba(3, 3, 50, 0.72) 0 3px 10px;
    text-align: center;
    align-items: center;
    overflow-x: hidden;
    border-color: #368db2;
    border-radius: 20px;
}

.Inner-Registration p{
    margin-top: 15px;
    color: #368db2;
    font-size: 20px;
    font-weight: 550;
}
.Inner-Registration h3{
    color: #368db2;
    line-height: 28px;
    font-size: 30px;
    font-weight: 700;
    margin-right: 10px;
}
.name-tag-p{
    color:#368db2;
    font-size: 17px;
    font-weight: bold;
}
