
.patient-appointment-two-table{
    width: 100%;
    
   
   
   
   
}
.patient-appointment-two-table-outer-con{
   
    width: 100%;
    height: 42.5vh;
    /* border: 1px solid#368db2; */
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.22);
    
    
    overflow-y: auto;
    

}

 .patient-appointment-two-table-inner-con{
    border-radius: 5px;
    max-height: 300px;
    


} 

.patient-appointment-two-table-top{
    display: flex;
    justify-content: space-between;
}

.patient-appointment-two-table-top button{
    background-color: #2196F3; 
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 8px;
    height: 25px;
    width: 80px;
    cursor: pointer;
    border: 1px solid#368db2;

}
.patient-appointment-two-table-top button:hover{
    background-color: #ADD8E6;
    color: white;

}



.patient-appointment-two-title{
    margin-top: 10px;
    margin-left: 20px;
}

.patient-appointment-two-table-header{
    /* font-weight: bold;  */
    height: 30px;
    position: sticky;
    background-color: #368db2;
    padding: 10px; 
    text-align: center;
    border: 1px solid whitesmoke;
}
.patient-appointment-two-table-header th{
    font-size: 14px;
}

.patient-appointment-two-table-data{
    /* padding: 10px;  */
    text-align: left; 
    border: 1px solid whitesmoke;
   
}

.patient-appointment-two-table-data tr:nth-child(even){
    background-color: #e7e5f1f6; 
}

.patient-appointment-two-table-data td{
    white-space: normal; 
    word-wrap: break-word; 
    max-width: 50px; 
}

::-webkit-scrollbar{
    width: 2px;
    height: 2px;
}
::-webkit-scrollbar-track{
    background: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background: transparent;
    border-radius: inherit;
}

::-webkit-scrollbar-thumb:hover{
    background:#368db2;
}




