*{
    margin: 0px;
    /* padding: 0px; */
  }

.patient-nav-bar-inner-con{
    display: flex; 
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #e0ecef;
    
   

}

.patient-nav-bar-icons{
    display: flex;
    width: 200px;
    justify-content: space-between;
    margin-right:15px ;
    cursor: pointer;
    
    
}



.nav-icons{
    height: 20px;
    width: 20px;
    margin:0.5rem ;
}

.patient-current-date{
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 2rem;
    width: 15rem;
}

.patient-search-input{
   
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    height: 2rem;
    margin-left: 20px;
    position: absolute;
}

.patient-search-button{
    background-color: #2196F3; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 8px;
    position: relative;
    margin-top: 3.5px;
    margin-left: 158px;
}

.patient-nav-bar-logo{
    width: 100px;
    height: 50px;
    margin-left:15px ;
}

.patient-notification-icon{
    border: solid 2pt #fff;
    height: 2.5rem;
    width: 2.5rem;
    background-color:transparent;
    border-radius: 70%;
    
}

.patient-message-icon{
    border: solid 2pt #fff;
    background-color: transparent;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 70%;
}

.patient-profile-icon{
    border: solid 2pt#fff;
    border-radius: 70%;
    height: 2.5rem;
    width: 2.5rem;
}

