.patient-nav-bar-inner-con{
    display: flex; 
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.patient-nav-bar-icons{
    display: flex;
    width: 200px;
    justify-content: space-around;
    margin-right:15px ;
    cursor: pointer;  
}
.nav-icons{
    height: 20px;
    width: 20px;
    margin:0.5rem ;
}
.patient-current-date{
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 7px;
    border: none;
    height: 2rem;
    width: 15rem;
}
.patient-search-input{
    padding: 6px;
    flex: 1;
    margin-top: 10px;
    margin-left: 40px;
    height: 30px;
    border: none;
    border-radius: 20px;
    outline: none;
}
.patient-search-button{
    background-color: #368db2;
    color: white;
    border: none;
    border-radius: 25px;
    height: 35px;
    width: 3.6rem;
    padding: 5px 10px;
    cursor: pointer;
}

.patient-nav-bar-logo{
    width: 100px;
    height: 50px;
    margin-left:15px ;
}

.patient-notification-icon{
    border: 2px solid #368db2;
    height: 2.5rem;
    width: 2.5rem;
    background-color:transparent;
    border-radius: 70%;
    
}

.patient-message-icon{
    border: 2px solid #368db2;
    background-color: transparent;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 70%;
}

.patient-profile-icon{
    border: 2px solid #368db2;
    border-radius: 70%;
    height: 2.5rem;
    width: 2.5rem;
}

