

.patient-record-two-table{
    width: 100%;
}
.patient-record-two-table-outter-con{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    /* width: 100%; */
    background-color: white;
    width: 66rem;
    margin-top: 35px;
    margin-left: 28px;
    overflow-y: auto;   
}
.patient-table-two-top-con{
    display: flex;
    justify-content: space-between;  
}
.patient-med-logs-two{
    margin-left: 30px; 
}
.patient-med-logs-two h2{
   font-size: 11px;   
}
.patient-record-two-med-logs{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    padding:5px;   
}
::-webkit-scrollbar{
    width: 2px;
    height: 2px;
}
::-webkit-scrollbar-track{
    background: transparent;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: transparent;
    border-radius: inherit;
}
::-webkit-scrollbar-thumb:hover{
    background:#368db2;
}
.patient-record-two-med-logs button{
    background-color: #2196F3; 
    border-radius: 5px;
    height: 25px;
    /* margin-top: 5px; */
    margin-right: 5px;
    width: 80px;
    cursor: pointer;
    border: 1px solid#368db2;

}
.patient-record-two-med-logs button:hover{
    background-color: #ADD8E6;
    color: white;
}
.patient-record-two-inner-con{
    border-radius: 10px;
    margin-top: 10px;
    max-height: 180px;   
}

.patient-record-two-table-header{
    font-weight: bold; 
    height: 30px;
    position: sticky;
    background-color: #368db2;
    text-align: center; 
    border: 1px solid whitesmoke;
}
.patient-record-two-table-data{
    text-align: left; 
    border: 1px solid whitesmoke;
}
.patient-record-two-table-data tr:nth-child(even){
    background-color: #e7e5f1f6;
}
.patient-record-two-table-data td{
    white-space: normal; 
    word-wrap: break-word; 
}

