

.patient-view-main-body{
   width: 100%; 
   background-color: red;
  
}
.patient-view-central-body{
  background-color: blueviolet;
  width: 100%;
}

.patient-view-side-bar-div{
  background-color: brown;
}


.patient-view-top-body-div{
  display :flex ;
  padding: 1rem;
  margin-right: 18px;
  background-color: black;

}


.patient-view-outer-container{
   display: flex;
  flex: 1;  
  overflow: hidden;
 
  background-color: #e0ecef; 
}

.patient-view-appointment-two-table{
  height: 245px;
  width: 55%;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.164);
  border-radius: 12px;
  padding: 1rem;
  
}
.patient-view-btm-body{
  height: 260px;
  margin-right: 29px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.164);
  border-radius: 12px;
  padding: 1rem;
  background-color: aqua;
}

.patient-view-profile-two-div{
  background-color: blue;
}