.User_Info{
    width: 100%;
    display: grid;
    padding: 20px 20px 20px 20px;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
.User_Info_Div {
    display: grid;
    grid-template-rows: 50% 50%;
    width: 100%;
}
.User_Info_Div label{
    text-align: start;
    font-size: 18px;
    font-weight: 600;
    color: #368db2;
}
.Input_Style{
    width: 40vw;
    height: 45px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #aaa;
    box-shadow: 0 0 3px 2px #aaaaaa;
    position: relative;
    font-size: 15px;
}
  
.Input_Style::before {
    content: "Placeholder Text";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    cursor: pointer;
    color: #999;
}

.Input_Style::after {
    content: "\u{1F4E6}";
    position: absolute;
    right: 10px; /* Adjust the right position as needed */
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #999;
}

.Place-Holder-Fragment{
    display: flex;
    justify-content: end;
}
input:focus{
    background-color: #368db2;
    color: aliceblue;
    font-size: 20px;
}
input:valid{
    border-color: #368db2;
}
.Invalid_Input:focus{
    border-color: #ff000f;
}
/* textarea::after{} */