.popup {
    position: fixed;
    top: 54%;
    left: 57%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    overflow-y: auto;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 600px;
    height: 520px;
}
.namePrescriptionHolder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.22);
    margin: 11px 5px 10px 19px;
    margin-top: 10px;
    height: 35px;
}
#button{
    background-color: #93c4da;
    padding: 9px;
    cursor: pointer;
    border: none;
}
#button:hover{
    background-color: #98a9bd;
}
#prescriptionText{
    margin-top: 10px;
    margin-left: 10px;
}
#checkbox1{
    /* margin-left: auto; */
}
.custom-checkbox{
    margin-left: auto;
    margin-right: 30px;    
}
.popup h2 {
    margin: 0;
    font-size: 18px;
    text-align: center;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
#close{
    display: block;
    /*margin: 0 auto;*/
    padding: 10px 20px;
    background-color: #93c4da;
    margin-top: 13rem;
    margin-left: 33rem;
    color: white;
    border: none;
    cursor: pointer;
}
#close:hover {
    background-color: #98a9bd;
}