.appointmentPopUp {
    position: fixed;
    top: 54%;
    left: 57%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 600px;
    height: 490px;
}

.appointmentPopUp h2 {
    margin: 0;
    font-size: 18px;
    text-align: center;
}
.appoint-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.appointmentPopUp button {
    display: block;
    /*/margin: 0 auto;/*/
    padding: 10px 20px;
    background-color: #368db2;
    margin-top: 21rem;
    margin-left: 30rem;
    color: white;
    border: none;
    cursor: pointer;
}

.appointmentPopUp button:hover {
    background-color: #98a9bd;
}