.activeLogPopUp {
    position: fixed;
    top: 54%;
    left: 57%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 600px;
    height: 490px;
}

.activeLogPopUp h2 {
    margin: 0;
    font-size: 18px;
    text-align: center;
}
.active-log-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.activeLogPopUp button {
    display: block;
    /*/margin: 0 auto;/*/
    padding: 10px 20px;
    background-color: #368db2;
    margin-top: 19rem;
    margin-left: 30rem;
    color: white;
    border: none;
    cursor: pointer;
}

.activeLogPopUp button:hover {
    background-color: #98a9bd;
}

.active-logtext-box{
    margin-top: 20px;
    margin-left: 20px;
    width: 500px;
    height: 320px;
    border: 1px solid #368db2;
    border-radius: 25px;
}

/*.active-logtext-box textarea{*/
/*    width: 500px;*/
/*    height: 320px;*/
/*}*/