.doc-profile-holder2{
    /*border: 1px solid #368db2;*/
    justify-content: space-evenly;
    background-color: white;
    box-shadow: rgba(3, 3, 50, 0.72) 0px 3px 10px;;
    border-radius: 10px;
    height: 37vh;
    width: 500px;
}
.doc-profile-browse-navigate-button{
    display: flex;

}
.doc-profile-text{
    margin-left: 20px;
}
.doc-profile-holder-section2{
    display: flex;
}



.doc-profile-image2 img{
    width: 150px;
    height: 150px;
    border-radius: 40px;
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 20px;
}

.doc-bio-input-dash{
    margin-left: -10px;

}

.doc-profile-role-text, .doc-profile-email-text,
.doc-profile-age-text, .doc-profile-phone-text,
.doc-profile-docId-text, .doc-profile-hospital-text, .doc-bio-input-dash h3{
    margin-top: 5px;
    font-size: 15px;
    margin-bottom: 5px;
}

#browse-all-button-doc:hover{
    /*box-shadow: inset 200px 0 0 0 #368db2;*/
    background-color: #e6f7fa;;
}
#browse-all-button-doc{
    color:#368db2;
    border-color: #368db2;
    transition: background-color;
    transition-duration: 200ms;
    cursor: pointer;
    outline: none;
    height: 40px;
    width: 120px;
    left: 181px;
    margin-top: 10px;
    margin-left: 290px;
    border-radius: 5px;
    padding: 8px 16px 8px 16px;
    /*box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);*/
    font-weight: bold;
    font-size: x-small;
}

#upload-profile-image-doc{
    color:#368db2;
    border-color: #368db2;
    transition: background-color;
    transition-duration: 200ms;
    cursor: pointer;
    outline: none;
    height: 40px;
    width: 120px;
    left: 181px;
    margin-top: 5px;
    margin-left: 30px;
    border-radius: 5px;
    padding: 8px 16px 8px 16px;
    /*box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);*/
    font-weight: bold;
    font-size: x-small;
}

#upload-profile-image-doc:hover {
    background-color: #e6f7fa;
}
