.Doc-Log-Main-Frame {
    height: 100vh;
    overflow: hidden;
    background-color: #e0ecef;
    display: flex;
}
.doc-log-side-bar-hold{
    display: flex;
}
.doc-log-details-holder{
    margin-top: 40px;
    margin-left: 55px;
}
.log-left-profile{
    margin-left: 80px;
    margin-top: 40px;
    margin-bottom: 60px;
    border-radius: 25px;
    border: 1px solid #368db2;
    width: 85%;
    height: 450px;
    background-color: #FFFFFF;
}
.log-title{
    margin-left: 35px;
    margin-bottom: 20px;
    margin-top: 40px;
}
.log-title h2{
    font-family: "DM SANS", sans-serif;
    font-weight: bold;
    font-size: xx-large;
}
.log-table2 {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0 20px;
    margin-top: 20px;
}

.log-table2 th,
.log-table2 td {
    border: 1px solid whitesmoke;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
.log-table2 th {
    background-color: #368db2;
    color: white;
}
.log-table2 tr:nth-child(even) {
    background-color: #f2f2f2;
    font-size: 12px;
}
.log-table2 tr:nth-child(odd) {
    font-size: 12px;
    background-color: white;
}
#log-action-buttons{
    width: 20px;
    height: 20px;
    color: #368db2;
}
#log-action-buttons:hover {
    background-color: #a0b0af;
}