.major-records-frame{
    /*border: 1px solid #368db2;*/
    justify-content: space-evenly;
    background-color: white;
    box-shadow: rgba(3, 3, 50, 0.72) 0px 3px 10px;
    border-radius: 10px;
    height: 37vh;
    width: 500px;
    overflow: hidden;
}

.records-browse-navigate-button{
    display: flex;
    margin-top: 20px;
}

.records-text{
    margin-left: 20px;
}
.browse-all-records-button{
    margin-left: auto;
    margin-right: 10px;
}
#browse-all-records-button-doc{
    color:#368db2;
    border-color: #368db2;
    transition: background-color;
    transition-duration: 200ms;
    cursor: pointer;
    outline: none;
    height: 40px;
    width: 120px;
    left: 181px;
    margin-top: 10px;
    margin-left: 120px;
    border-radius: 5px;
    padding: 8px 16px 8px 16px;
    /*box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);*/
    font-weight: bold;
    font-size: x-small;
}
#browse-all-records-button-doc:hover{
    /*box-shadow: inset 200px 0 0 0 #368db2;*/
    background-color: #e6f7fa;
}
.records-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0 20px;
    margin-top: 20px;
}

.records-table th,
.records-table td {
    border: 1px solid whitesmoke;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
.records-table th {
    background-color: #368db2;
    color: white;
}
.records-table tr:nth-child(even) {
    background-color: #f2f2f2;
    font-size: 12px;
}
.records-table tr:nth-child(odd) {
    font-size: 12px;
    background-color: white;
}