.search-bar{
    padding: 6px;
    flex: 1;
    margin-top: 10px;
    margin-left: 40px;
    height: 30px;
    border: none;
    border-radius: 10px;
    outline: none;
}
.search-button{
    background-color: #368db2;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
}
.date-time{
    margin-top: 12px;
    margin-left: 30px;
}
.date-time p{
    margin-top: 7px;
    font-weight: bold;
    font-size: 12px;
}
.date-time{
    border: 2px solid white;
    height: 30px;
    border-radius: 10px;
    background-color: white;
}
.flex-container{
    display: flex;
}
.notifications{
    margin-top: 10px;
    margin-left: 400px;
}
.message{
    width: 37px;
    margin-left: 17px;
}
.not{
    width: 40px;
    border: 1px solid  #368db2;
    border-radius: 20px;
}
.doctor{
    margin-top: 10px;
    margin-left: 10px;
}
.doctor img{
    width: 40px;
    height: 40px;
    border:1px solid #368db2;
    border-radius: 50px;
}