.body{
    /* background-color: #e0ecef;
    /* width: 100%; */
    /* height: 100vh;  */
}
.med-con{
    display: flex;
}
#appont{
    margin-left: 50px;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 16px;
}
.appointment-holder{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.22);
    margin: 11px 5px 10px 19px;
    background-color: white;
    border-radius: 10px;
    margin-left: 54px;
    margin-top: 20px;
    height: 80vh;
    width: 90%;
}
.appoint-appoin-button{
    display: flex;
    margin-top: 20px;
}
.appoint-text{
    margin-left: 10px;
    margin-top: 20px;
}
.search-bar-three{
     padding: 6px;
     flex: 1;
     margin-top: 15px;
     margin-left: 200px;
     background-color: #e0ecef;
     height: 30px;
     border: none;
     border-radius: 10px;
     outline: none;
 }
.search-button-three{
    background-color: #368db2;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
}
    .browse-all-appoin{
    margin-left: auto;
    margin-right: 10px;
}
.browse-all-appoin button{
    width: 100px;
    height: 30px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    background-color: #368db2;
    color: white;
    padding: 5px;
}
.appointment-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0 20px;
    margin-top: 30px;
}

.appointment-table th,
.appointment-table td {
    border: 1px solid whitesmoke;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.appointment-table th {
    background-color: #368db2;
    color: white;
}

.appointment-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.appointment-table tr:nth-child(odd) {
    background-color: white;
}