.body{
    background-color: #e0ecef;
    /*height: 99vh;*/
}
.app{
    background-color: white;
    border-radius: 10px;
    margin: 20px 10px 10px 40px;
    height: 17rem;
    width: 29rem;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.22);
}
.app-button{
    display: flex;
    margin-top: 20px;
}
.app-text{
    margin-left: 10px;
}
.browse-all-app{
    margin-left: auto;
    margin-right: 10px;
}
.browse-all-app button{
    width: 100px;
    height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    background-color: #368db2;
    color: white;
    padding: 5px;
}
.app-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0 20px;
    margin-top: 20px;
}

.app-table th,
.app-table td {
    border: 1px solid whitesmoke;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.app-table th {
    font-size: 10px;
    background-color: #368db2;
    color: white;
}

.app-table tr:nth-child(even) {
    font-size: 12px;
    background-color: #f2f2f2;
}

.app-table tr:nth-child(odd) {
    font-size: 12px;
    background-color: white;
}