.about-Image{
    width: 50vw;
    margin-top: 20px;
}
.container{
    display: flex;
    justify-content: space-between;
}
#who-we-are{
    width: 600px;
    margin-right: 29px;
    line-height: 35px;
}
#who-started{
    width: 600px;
    line-height: 35px
}
#who-promise{
    width: 600px;
    line-height: 35px
}
#our-story{
    color: #368db2;
    font-size: 1.5rem;
    margin-top: 60px;
    font-weight: 700;
    margin-left: 13rem;
}
#what-we-promise{
    color: #368db2;
    font-size: 1.5rem;
    margin-top: 60px;
    font-weight: 700;
    margin-left: 10rem;
}
#about-us{
    color: #368db2;
    font-size: 1.5rem;
    margin-top: 60px;
    font-weight: 700;
    margin-left: 13rem;
}
#our{
    color: #368db2;
    font-size: 1.9rem;
    margin-top: 10px;
    font-weight: 700;
}
.ourService{
    margin-left: 60px;
    display: flex;
    justify-content: space-between;
}
#our-service{
    color: #368db2;
    font-size: 1.5rem;
    margin-top: 60px;
    font-weight: 700;
}
#electronic-one{
    width: 500px;
    margin-top: 20px;
    line-height: 30px;
}
#electronic{
    width: 500px;
    margin-top: 20px;
    line-height: 30px;
}
.our-service-image{
    width: 60vw;
}

/* media query */

@media only screen and (max-width: 390px){
    .about-Image {
        display: none;
    }
    #who-we-are{
        font-size: 20px;
        width: 22rem;
        text-align: center;      
    }
    #about-us{
        font-size: 30px;
        margin-left: 29%;
    }

    #who-started{
        font-size: 20px;
        width: 22rem;
        text-align: center; 
    }
    #our-story{
        font-size: 28px;
        margin-left: 29%;
    }
    #who-promise{
        font-size: 20px;
        width: 23rem;
        text-align: center;
    }
    #what-we-promise{
        font-size: 28px;
        margin-left: 10%;
    }
    #our{
        color: #368db2;
        font-size: 28px;
        margin-top: 25px;
    }
    #our-service{
        color: #368db2;
        font-size: 28px;
        margin-left: 2px;
    }
    #electronic{
        font-size: 20px;
        width: 25rem;
        display: inline;
        text-align: center;
    }
    .our-service-image{
        display: none;
    }
    #electronic-one{
        font-size: 20px;
        width: 20rem;
        display: inline;
        text-align: center;
        align-items: center;
    }
    .holder{
        margin-right: 45px;
    }
}
@media only screen and (max-width:414px) {
    .about-Image {
        display: none;
    }
    #who-we-are{
        font-size: 20px;
        width: 22rem;
        text-align: center;      
    }
    #about-us{
        font-size: 30px;
        margin-left: 29%;
    }

    #who-started{
        font-size: 20px;
        width: 22rem;
        text-align: center; 
    }
    #our-story{
        font-size: 28px;
        margin-left: 29%;
    }
    #who-promise{
        font-size: 20px;
        width: 23rem;
        text-align: center;
    }
    #what-we-promise{
        font-size: 28px;
        margin-left: 10%;
    }
    #our{
        color: #368db2;
        font-size: 28px;
        margin-top: 25px;
    }
    #our-service{
        color: #368db2;
        font-size: 28px;
        margin-left: 2px;
    }
    #electronic{
        font-size: 20px;
        width: 25rem;
        display: inline;
        text-align: center;
    }
    .our-service-image{
        display: none;
    }
    #electronic-one{
        font-size: 20px;
        width: 20rem;
        display: inline;
        text-align: center;
        align-items: center;
    }
    .holder{
        margin-right: 45px;
    }
}

