.Main-Frame{
    margin-top: 80px;
}
#Register-button2:hover{
    background-color: #e6f7fa;;
}
#Register-button2{
    color:#368db2;
    border-color: #368db2;
    transition: background-color;
    transition-duration: 200ms;
    cursor: pointer;
    outline: none;
    height: 50px;
    width: 200px;
    left: 181px;
    margin-top: 35px;
    margin-right: 475px;
    border-radius: 5px;
    padding: 8px 16px 8px 16px;
    font-weight: bolder;
    font-size: large;

}

.Body-div{
    width: 100%;
    justify-content: space-evenly;
    background: linear-gradient(to right, rgb(54, 141, 178), rgb(227, 239, 239));
}
.h-animate .text{
    color: rgba(5, 5, 55, 0.82);
    text-align: left;
    font-size: x-large;
    font-weight: 400;
    line-height: 35px;
}
.h-animate .text.first-text{
    color:rgba(223, 223, 243, 0.82);
    text-align: left;
}
@keyframes animate {
    40%, 60%{
        left: calc(100% + 38px);
    }
    100%{
        left: 0%;
    }
}
.Word-div h2{
    width: 700px;
    height: 240px;
    line-height: 55px;
    font-size: xxx-large;
    font-weight: bolder;
    color: rgba(245, 245, 246, 0.82);
    text-align: left;
}
.Word-div{
    margin-left: 100px;
    width: 650px;
    margin-top: 90px;
}
.Image-div{
    height: 530px;
    width: 530px;
    align-content: center;
}
.Image-div img{
    margin-top: 60px;
    margin-left: 20px;
    border-radius: 25px;
}
.sub-body-div{
    display: flex;
}

/* media */
@media only screen and (max-width: 390px) {
    .Main-Frame {
        width: 100%;
        background-color: transparent;
    }
    .Word-div h2 {
        width: 20rem;
        font-size: 35px;
    }
    .h-animate .text{
        display: none;
    }
    .Word-div {
        margin-left: 20px;
        padding: 10px;
        margin-top: 10%; 
    }
    #Register-button2{
        margin-top: 12rem;
        margin-right: 10px;
        padding: 10px;
        width: 8rem;
    }
    .Image-div img {
        display: none;
    }
    
}
@media only screen and (max-width: 414px){
    .Main-Frame {
        width: 100%;
    }
    .Word-div h2 {
        width: 22rem;
        font-size: 38px;
    }
    .h-animate .text{
        display: none;
    }
    .Word-div {
        margin-left: 20px;
        padding: 10px;
        margin-top: 10%; 
    }
    #Register-button2{
        margin-top: 12rem;
        margin-right: 10px;
        padding: 10px;
        width: 8rem;
    }
    .Image-div img {
        display: none;
    }
}
@media only screen and (max-width: 768px){
    .Main-Frame {
        width: 100%;
    }
    .Word-div {
        margin-left: 20px;
        padding: 10px;
        margin-top: 10%; 
    }
    .Image-div img {
        display: none;
    }
    #Register-button2{
        
        }
}
@media only screen and (max-width: 1024px){
    .Image-div img {
        display: none;
    }
}
@media only screen and (max-width: 375px){
    .Main-Frame {
        width: 100%;
    }
}