.tab-container {
    padding-left: 30px;
    display: flex;
    /*border-bottom: 1px solid #ccc;*/
}

.Tabs{
    /*border-style: solid;*/
    display: flex;
}

.tab {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    margin-right: 10px;
    font-weight: bold;
}

.tab.active {
    background-color: #3498db;
    color: white;
}

.tab:hover {
    background-color: #e0e0e0;
}


.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
    background-color: #ffffff;
}

.tab-content.active {
    display: block;
}

.tabs{
    overflow: scroll;
}

.hamburger{
    display: none;
}

@media screen and (max-width: 425px){
    .side-bar-closed{
        display:none;
    }

    .side-bar-open{
        position: fixed;
        height: 100vh;
        left: 0;
        top: 0;
        z-index: 100;
    }

    .tab-container{
        padding-left: 5px;
    }



}
