.RegisterPatientForm-Frame{
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    background: linear-gradient(to right, rgb(54, 141, 178), rgb(227, 239, 239));
}

.Sub-Patient-Registration-Frame{
    width: 55%;
    height: 85vh;
    background-color: #FFFFFF;
    margin:auto;
    border-radius: 5px;
    text-align: center;
}

.Patient-eReach-logo{
    display: grid;
}

.Patient-eReach-logo img{
    margin-top: 10px;
    width: 100px;
    margin-left: 20px;
}

.Patient-Header-frame{
}

.Patient-Header-frame h1{
    color: #368db2;
    font-size: 20px;
    font-weight: 400;
    margin-right: 10px;
    line-height: 15px;
    margin-bottom: -15px;
}

.Patient-Header-frame h2{
    color: #010C80;
    font-size: 15px;
    font-weight: 20;
    line-height: 15px;
    margin-left: 10px;
}

.Patient-progressBarDiv{
    margin-top: 20px;
    margin-left: 150px;
}

.Patient-progressBar{
    display: flex;
}

.Patient-blueCircle{
    align-items: center;
    display: grid;
    background-color: #007bff;
    border-radius: 100px;
    width: 38px;
    height: 30px;
}

.Patient-blueBar{
    border-radius: 10px;
    margin: 2% 0.5% 0 0.5%;
    background-color: #368db2;
    border: 2px solid#368db2;
    width: 155px;
    height: 10px;
}

.Patient-whiteCircle{
    align-items: center;
    display: grid;
    background-color: rgb(235, 236, 236);
    border-radius: 100px;
    border: 2px solid #368db2;
    width: 38px;
    height: 30px;
}

.Patient-whiteBar{
    border-radius: 10px;
    margin: 2% 0.5% 0 0.5%;
    background-color: rgb(235, 236, 236);
    border: 2px solid #368db2;
    width: 155px;
    height: 10px;
}

.Patient_user_info{
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 110px;
    width: 530px;
}

.Patient-input-style{
    width:380px;
    border-radius: 6px;
    padding: 10px 68px 10px 68px;
    box-shadow: none;
    border: 1px solid #368db2;
}

#Patient-previous-button{
    background-color: rgba(242, 242, 248, 0.82);
    color:#368db2 ;
    width: 150px;
    border-radius: 8px;
    padding: 8px 60px 8px 60px;
    font-size: large;
    justify-content: center;
    align-content: center;
    margin-left: 5px;
    display: flex;
    border: 1px solid grey;
}

#Patient-next-button, #Patient-submit-button{
    background-color: rgba(242, 242, 248, 0.82);
    color:#368db2 ;
    width: 150px;
    border-radius: 8px;
    padding: 8px 60px 8px 60px;
    font-size: large;
    justify-content: center;
    align-content: space-between;
    margin-left: 220px;
    display: flex;
    border: 1px solid grey;
}

#Patient-initial-next-button{
    background-color: rgba(242, 242, 248, 0.82);
    color:#368db2 ;
    width: 150px;
    border-radius: 8px;
    padding: 8px 60px 8px 60px;
    font-size: large;
    justify-content: center;
    align-content: space-between;
    margin-left: 370px;
    display: flex;
    border: 1px solid grey;
}

#Patient-previous-button:hover, #Patient-next-button:hover,
#Patient-submit-button:hover, #Patient-initial-next-button:hover{
    box-shadow: inset 550px 0 0 0 #368db2;
    color: white;
}

#Patient-buttons{
    display: flex;
    margin-top: 15px;
}