.Doc-login-Main-Reg-Frame{
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: radial-gradient(#FFFFFF, rgb(227, 239, 239),rgb(54, 141, 178) );
}

.Doc-login-Sub-Main-Reg-Frame{
    width: 100vh;
    height: 90vh;
    background-color: #FFFFFF;
    /*background: linear-gradient(to left, rgb(54, 141, 178), rgb(227, 239, 239));*/
    box-shadow: rgba(3, 3, 50, 0.72) 0px 3px 10px;
    /*border: 2px solid rgba(5, 5, 55, 0.82);*/
    border-radius: 10px;
    text-align: center;
    overflow-x: hidden;
}

.Doc-login-Logo-frame{
    display: grid;
}

.Doc-login-Logo-frame img{
    margin-top: 20px;
    width: 110px;
    margin-left: 20px;
    margin-bottom: -60px;
}

.Doc-login-Header-frame{
    margin-top: 5px;
    height: 80px;
    width: 100%;
    justify-content: center;
    align-content: center;
    margin-bottom: 40px;
}

.Doc-login-Header-frame h1{
    margin-top: 60px;
    margin-left: 170px;
    color: #368db2;
    width: 315px;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
}

.Doc-name-tag-input-email{
    font-family: "DM SANS", sans-serif;
    font-size: 18px;
    margin-right: 410px;
    color: #368db2;
}

.Doc-login-input-style{
    width:390px;
    border-radius: 6px;
    padding: 10px 70px 10px 70px;
    box-shadow: none;
    border: 1px solid hsl(198, 53%, 45%);
    margin-bottom: 20px;
    font-size: 20px;
}

#Doc-login-submit-button{
    background-color: rgba(242, 242, 248, 0.82);
    color:#368db2 ;
    width: 300px;
    border-radius: 8px;
    padding: 8px 40px 8px 40px;
    font-size: large;
    justify-content: center;
    align-content: center;
    margin-left: 170px;
    margin-top: 10px ;
    margin-bottom: 5px;
    display: flex;
    border: 1px solid grey;
}

#Doc-login-submit-button:hover{
    box-shadow: inset 550px 0 0 0 #368db2;
    color: white;
}
